*{
    box-sizing: border-box;
}
body{
    background-image: url(https://images.unsplash.com/photo-1418985991508-e47386d96a71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c25vd3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60);
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    font-weight: bolder;
    flex-direction: column;
    /* justify-content: center; */

    align-items: center;
    /* color: white; */
}
h1{
    margin-top: 5rem;
    font-size: 4rem;
}
.big-text
{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.countdown-container ,.countdown-container1
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
button{
    background-color:black;
    color: white;
    border: .1rem solid darkred;
    border-radius: 5%;
    font-family:'Times New Roman', Times, serif;}

.big-text1
{
    font-size: 2rem;
    line-height: 1;
    margin: 1rem 2rem;
}
.countdown-in{
    text-align: center;
}
.countdown-in span {
    font-size: 1.5rem;
}